
        h1 { 
            color: red;
        }
        
    .origami{
            
           
            border-radius: 20px;
            background-color: white;
            
    
            width:310px;
            font-family: fantasy;
        }
        
       
    .grid img{
        
        border: 2px solid black;
        border-radius: 50px;
       

    }

    .grid{

        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .bodyimg {
        background-color:cyan;
        border-radius: 50px;
     }


    .menu{
        display: flex;
        justify-content: space-between;
        background-color: black;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 400;
        color: white ;
    }

    body{
        background-color: whitesmoke;
    }

    p,p{
        text-align: center;
        font-family: elephant;
        font-size: 50px ;
    }

    p,h3{
        text-align: center;
        font-family: cursive;
        
    }